<head>
  <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
</head>
<div id="step1" class="form-talentos-globais"
  [ngClass]="{'full-screen': formedUser, 'full-screen-embedded': embeddedForm}">
  <div class="full-width">
    <!-- Header -->
    <section class="header" id="header-talentos-globais" #headerGERef>
      <div class="container">
        <div class="row justify-content-center" *ngIf="!embeddedForm">
          <div class="col-sm text-center">
            <div class="logo-empreendedor-global"></div>
          </div>
        </div>
        <div *ngIf="!completedSignup">
          <div class="row" *ngIf="!embeddedForm">
            <div class="col-sm">
              <h1 i18n="@@formGeTitle">Si quieres obtener tu <strong>primera experiencia laboral</strong> en el
                extranjero, Emprendedor Global es la mejor oportunidad de intercambio para ti.</h1>
            </div>
          </div>
          <br>
        </div>
      </div>
    </section>

    <!-- Form -->
    <section class="forms" id="form-voluntario-global" class='animated fadeIn' *ngIf="!loading"
      (window:resize)="onResize($event)">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-sm">

            <!-- Content -->
            <!-- Alert -->
            <div class="alert alert-warning alert-dismissible fade show animated fadeIn" role="alert"
              *ngIf="invalidEmail">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="far fa-times-circle fa-lg"></i>
              </button>
              <p>
                <span i18n="@@alreadyExistsUserEmail">Já existe um usuário com esse endereço de email!</span>
                <br />
                <a href="https://auth.aiesec.org/users/sign_in?country=Peru#login" class="form-email-warning">
                  <strong i18n="@@accessThePlatformQuestion">Gostaria de acessar a plataforma?</strong>
                </a>
                <br />
                <a href="https://auth.aiesec.org/users/password/new" class="form-email-warning">
                  <strong i18n="@@recoverPlatformPassword">Recuperar minha senha</strong>
                </a>
              </p>
            </div>
            <div class="animated fadeIn" *ngIf="personalData && !completedSignup">
              <form [formGroup]="step1Form" class="forms gv">

                <div class="form-group height-inputs">
                  <i class="fas icon-ajust fa-user"></i>
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" [(ngModel)]="user.fullname" formControlName="fullname" name="fullname">
                    <mat-placeholder i18n="@@fullnamePlaceholder" class="placeholder">Como é pra gente te chamar?
                    </mat-placeholder>
                  </mat-form-field>
                  <div *ngIf="isValidPersonal('fullname')" class='error-message' i18n="@@formFullnameEmpty">
                    Preencha o nome completo.
                  </div>
                </div>

                <div class="form-group height-inputs">
                  <i class="fas icon-ajust fa-mobile-alt"></i>
                  <mat-form-field class="example-full-width">
                    <input matInput type="tel" class="tel-mask" mask="{{ cellphoneMask }}" [(ngModel)]="user.cellphone"
                      formControlName="cellphone" name="cellphone" (keydown)='checkMaskCellphone($event)'
                      (blur)="checkPhone()">
                    <mat-placeholder i18n="@@cellphonePlaceholder" class="placeholder">Vamos falar com você por aqui!
                    </mat-placeholder>
                  </mat-form-field>
                  <div *ngIf="isValidPersonal('cellphone') || invalidPhone" class='error-message'
                    i18n="@@formCellphoneEmpty">
                    Preencha o seu número de celular.
                  </div>
                </div>

                <div class="form-group height-inputs">
                  <i class="fas icon-ajust fa-envelope"></i>
                  <mat-form-field class="example-full-width">
                    <input matInput type="email" [(ngModel)]="user.email" (blur)="checkEmail()" formControlName="email"
                      name="email" email>
                    <mat-placeholder i18n="@@emailPlaceholder" class="placeholder">Relaxa, nós também não gostamos de
                      spam</mat-placeholder>
                  </mat-form-field>
                </div>
                <div *ngIf="isValidPersonal('email')" class='error-message' i18n='@@formEmailEmpty'>
                  Preencha com o seu email.
                </div>

                <div class="form-group height-inputs example-form">
                  <i class="fas icon-ajust fa-gift"></i>
                  <mat-form-field class="example-full-width">
                    <input matInput id="inputDatadeNascimento" formControlName="birthdate" (blur)="checkDate()"
                      [(ngModel)]="user.birthdate" name="birthdate" mask="00/00/0000">
                    <mat-placeholder i18n="@@birthdate" class="placeholder">Data de Nascimento</mat-placeholder>
                  </mat-form-field>
                </div>
                <div *ngIf="invalidDate" class='error-message' i18n="@@formBirthdateInvalid">
                  Por favor, preencha com uma data válida
                </div>
                <div *ngIf="!matchDate" class='error-message' i18n="@@formBirthdateError">
                  Desculpe, nossos programas são direcionados para pessoas entre 18 e 30 anos.
                </div>

                <div class="form-group form-check text-center checkbox backgroud-none">
                  <input type="checkbox" class="form-check-input" [checked]="user.cellphone_contactable"
                    id="aceitoContato" [(ngModel)]="user.cellphone_contactable" formControlName="cellphone_contactable"
                    name="cellphone_contactable">
                  <label class="form-check-label" for="aceitoContato" i18n="@@cellphoneContactable"> Gostaria de ser
                    contatado por ligação ou mensagens no meu número de celular.</label>
                </div>

                <!-- Termos -->
                <div class="form-group form-check text-center checkbox backgroud-none">
                  <input type="checkbox" class="form-check-input" [checked]="user.accepted_terms" id="aceitoTermos"
                    [(ngModel)]="user.accepted_terms" formControlName="accepted_terms" name="accepted_terms">
                  <label class="form-check-label" for="aceitoTermos"><a
                      href="assets/terms/Terminos y Condiciones - AIESEC en Perú.pdf" target="_blank"
                      i18n="@@termsAndConditionsConfirmation">Li e aceito os termos e condições.</a></label>
                </div>


              </form>
            </div>
            <div class="animated fadeIn" *ngIf="studyData && !completedSignup">
              <form [formGroup]="step2Form" class="forms">

                <div class="form-group height-inputs scholarity">
                  <i class="fas icon-ajust fa-graduation-cap"></i>
                  <mat-form-field class="example-full-width">
                    <mat-select [(ngModel)]="user.scholarity" name formControlName="scholarity">
                      <mat-option *ngFor="let option of scholarityOptions" [value]="option">
                        {{option.name}}
                      </mat-option>
                    </mat-select>
                    <mat-placeholder i18n='@@scholarity' class="placeholder">Escolaridade</mat-placeholder>
                  </mat-form-field>
                  <div *ngIf="isValidStudy('scholarity')" class='error-message' i18n='@@formScholarityEmpty'>
                    Selecione um nível de escolaridade
                  </div>
                </div>

                <div class="form-group height-inputs department">
                  <i class="fas icon-ajust fa-home"></i>
                  <mat-form-field class="example-full-width">
                    <mat-select (selectionChange)="filterCities($event)" [(ngModel)]="user.department"
                      formControlName="department">
                      <mat-option *ngFor="let option of filteredDepartmentsOptions" [value]="option"
                        i18n-emptyMessage="@@noResults" i18n-placeholder="@@departmentPlaceholder">
                        {{option.name}}
                      </mat-option>
                    </mat-select>
                    <mat-placeholder i18n="@@department" class="placeholder">Departamento</mat-placeholder>
                  </mat-form-field>
                </div>
                <div *ngIf="isValidStudy('department')" class='error-message' i18n="@@formDepartmentEmpty">
                  Por favor, selecione seu departamento
                </div>

                <div class="form-group height-inputs city">
                  <i class="fas icon-ajust fa-home"></i>
                  <mat-form-field class="example-full-width">
                    <mat-select [(ngModel)]="user.city" formControlName="city"
                      (selectionChange)="filterUniversities(user.city)">
                      <mat-option *ngFor="let option of citiesOptions" [value]="option">
                        {{option.name}}
                      </mat-option>
                    </mat-select>
                    <mat-placeholder i18n="@@city" class="placeholder">Cidade</mat-placeholder>
                  </mat-form-field>
                </div>
                <div *ngIf="isValidStudy('city')" class='error-message' i18n="@@formCityEmpty">
                  Por favor, selecione sua cidade
                </div>

                <div class="animated height-inputs fadeIn faster form-group university"
                  *ngIf='user.city.name && user.scholarity.id > 1'>
                  <i class="fas icon-ajust fa-graduation-cap"></i>
                  <mat-form-field class="example-full-width">
                    <input type="text" aria-label="Number" [(ngModel)]="user.university" formControlName="university_id"
                      matInput [matAutocomplete]="auto" (selectionChange)='checkUniversityValue($event)'
                      (blur)="checkUniversity()" name="user.university">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
                      <mat-option *ngFor="let option of universities" [value]="option">
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-placeholder i18n="@@university" class="placeholder">Universidade</mat-placeholder>
                  </mat-form-field>
                </div>
                <div *ngIf="isValidStudy('university_id')" class='error-message' i18n="@@formUniversityEmpty">
                  Selecione uma universidade.
                </div>

                <div class="animated height-inputs fadeIn faster form-group college_course"
                  *ngIf='user.city.name && user.scholarity.id > 1'>
                  <i class="fas icon-ajust fa-book-open"></i>
                  <mat-form-field class="example-full-width">
                    <input type="text" aria-label="Number" [(ngModel)]="user.college_course"
                      formControlName="college_course_id" matInput [matAutocomplete]="auto" (blur)="checkCourse">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
                      <mat-option *ngFor="let option of courses" [value]="option">
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-placeholder i18n='@@collegeCourse' class="placeholder">Curso</mat-placeholder>
                  </mat-form-field>
                </div>
                <div *ngIf="isValidStudy('college_course_id') || invalidCourse" class='error-message animated fadeIn'
                  i18n="@@formCollegeCourseEmpty">
                  Selecione um curso.
                </div>

                <!-- Password -->
                <div class="form-group height-inputs example-form">
                  <div class="input-group">
                    <i class="fas icon-ajust fa-lock"></i>
                    <mat-form-field class="example-full-width">
                      <input matInput type="password" [(ngModel)]="user.password" formControlName="password"
                        name="password" (blur)="checkPassword()">
                      <mat-placeholder i18n="@@password" class="placeholder">Senha</mat-placeholder>
                    </mat-form-field>
                  </div>
                </div>
                <div *ngIf="isValidStudy('password')" class='error-message animated fadeIn' [hidden]="!user.password">
                  Completa tu contraseña.
                  <br>
                  <span>
                    Tu contraseña debe contener al menos 8 caractéres, de los cuales uno debe ser un caracter en
                    mayúscula, otro en minúscula, y un número.
                  </span>
                </div>

                <div class="form-group height-inputs">
                  <div class="input-group">
                    <i class="fas icon-ajust fa-lock"></i>
                    <mat-form-field class="example-full-width">
                      <input matInput type="password" [(ngModel)]="user.repassword" formControlName="repassword"
                        name="repassword" (blur)="checkPassword()">
                      <mat-placeholder i18n="@@confirmPassword" class="placeholder">Confirmar Senha</mat-placeholder>
                    </mat-form-field>
                  </div>
                </div>
                <div *ngIf="invalidPassword" class='error-message' i18n="@@formPasswordError">
                  <span>¡Las contraseñas no coinciden! Escribe nuevamente</span>
                </div>

                <div class="form-group height-inputs getToKnow" *ngIf='!persona'>
                  <i class="fas icon-ajust fa-question-circle"></i>
                  <mat-form-field class="example-full-width">
                    <mat-select [(ngModel)]="user.exchange_reason" name='exchange_reason'
                      formControlName="exchange_reason">
                      <mat-option *ngFor="let option of reasonOptions" [value]='option.id'>
                        {{option.value}}
                      </mat-option>
                    </mat-select>
                    <mat-placeholder class="placeholder">Por qué quieres ser un voluntario global?</mat-placeholder>
                  </mat-form-field>
                </div>
                <div *ngIf="isValidStudy('exchange_reason')" class='error-message'>
                  Por favor, selecione um valor
                </div>

                <div class="form-group height-inputs getToKnow">
                  <i class="fas icon-ajust fa-question-circle"></i>
                  <mat-form-field class="example-full-width">
                    <mat-select [(ngModel)]="user.referral_type" formControlName="referral_type" name='referral_type'>
                      <mat-option *ngFor="let option of referralTypes" [value]="option.id">
                        {{option.value}}
                      </mat-option>
                    </mat-select>
                    <mat-placeholder i18n='@@referralType' class="placeholder">Como conheceu a AIESEC?</mat-placeholder>
                  </mat-form-field>
                </div>
                <div *ngIf="isValidStudy('referral_type')" class='error-message'>
                  Por favor, selecione um valor
                </div>

                <div class="form-group experiences-input">
                  <i class="fas icon-ajust-check fa-plane"></i>
                  <mat-card>
                    <h2>Elige cuánto tiempo estarás disponible</h2>
                    <mat-card-content class="checkbox-ajust">
                      <mat-radio-group [(ngModel)]="user.when_can_travel" formControlName="when_can_travel"
                        *ngFor="let travel of travelOptions">
                        <mat-radio-button class="ajust-inline col-sm" type="radio" value="{{travel.id}}">{{travel.name}}
                        </mat-radio-button>
                      </mat-radio-group>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="form-group align-left-itens experiences-input">
                  <i class="fas icon-ajust-check fa-book-open"></i>
                  <mat-card>
                    <h2>Experiencia laboral ?</h2>
                    <mat-card-content class="checkbox-ajust">
                      <mat-radio-group [(ngModel)]="user.work_experience" formControlName="work_experience"
                        *ngFor="let workExperience of workExperienceOptions">
                        <mat-radio-button class="ajust-inline col-sm" type="radio" value="{{workExperience.id}}">
                          {{workExperience.name}}</mat-radio-button>
                      </mat-radio-group>
                    </mat-card-content>
                  </mat-card>
                </div>
              </form>
            </div>

            <section class="content" id="resultado" *ngIf="completedSignup">
              <script type="text/javascript">
                fbq('track', 'Lead');
              </script>
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-sm">
                    <div class="row justify-content-center">
                      <div class="col-sm-9" id="header-resultado">
                        <h2 i18n="@@thanksForSubscribleText">Obrigado por se increver!</h2>
                        <h3 i18n="@@thanksForSubscribleMessage">Fique ligado no seu e-mail que enviaremos informações
                          úteis para você por lá.</h3>
                      </div>
                      <div class="col-sm-3">
                        <i class="fas fa-thumbs-up fa-10x color-icon"></i>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-sm-12" id="content-resultado">
                        <p i18n="@@registerResult">
                          Agora que você criou a sua conta, você poderá acessar a nossa plataforma e começar a buscar
                          por imersão internacional em
                          startup na data e destino ideal para você! Fique atento ao seu e-mail onde enviaremos mais
                          informações.
                        </p>
                        <button (click)="accessAiesec()" type="button" class="btn btn-primary"
                          i18n="@@accesOpportunitiesPortal">Acessar o Portal de Oportunidades</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <div class="form-row buttons" *ngIf="!completedSignup" id="row-with-buttons">
              <div class="col text-left">
                <button type="button" class="btn btn-secondary" data-toggle="modal" (click)="cancelSignUp()"
                  data-target="#modalCancelar1">{{formedUser || submittedPersonal ? 'Regresar' : 'Cancelar'}}</button>
              </div>
              <div class="col text-right">
                <button type="button" (click)="registerUser(headerGERef)" class="btn btn-primary" *ngIf="personalData"
                  [disabled]='step1Form.invalid || (!matchDate || invalidEmail) || !user.accepted_terms'
                  i18n="@@next">Próximo</button>
                <button type="button" (click)="submit(headerGERef)" class="btn btn-primary submit-form"
                  *ngIf="studyData" [disabled]='unableToSubmit()' i18n="@@send">
                  Enviar
                  <i class="fab fa-telegram-plane"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class='loading-landing-page' *ngIf="loading">
      <div class="loading-animation loading-animation-ge"></div>
    </div>
  </div>
</div>

<div id='modal' class='animated fadeIn faster' *ngIf="modal">
  <div class='modal-bg' (click)='closeModal()'></div>
  <div class='close-modal-button' (click)='closeModal()'>
    <i class="fas fa-times-circle"></i>
  </div>
  <app-terms></app-terms>
</div>
